.header {
    position: relative;
    padding: 15px 0 0;
    background-color: #fff;
}

.logo {
    width: 250px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.nav-toggle {
    display: none;
}

.btn-burger {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
    display: block;
    width: 44px;
    height: 44px;
    background: url("../img/burger.svg") center center / 35px 20px no-repeat;
    cursor: pointer;
}

.nav-toggle:checked ~ .btn-burger {
    background: url("../img/close.svg") center center / 26px 26px no-repeat;
}
.nav {
    padding-top: 10px;
    background: url("../img/nav_bg.png") center center / cover no-repeat;
}
.nav-list {
    display: none;
    margin: 0;
    padding-bottom: 10px;
}
.nav-list li {
    margin: 0;
    padding: 10px;
}
.nav-list a {
    display: block;
    color: #fff;
}
.nav-toggle:checked ~ .nav .nav-list {
    display: block;
}

.footer {
    padding: 40px 0 30px;
    color: rgb(14, 161, 129);
    text-align: center;
    background: url("../img/footer_bg.png") center center / cover no-repeat;
}
.footer-logo {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.footer-address {
    margin: 10px 0;
}
.footer-sns {
    margin: 20px 0;
    text-align: center;
}
.footer-sns a {
    display: inline-block;
    margin: 0 5px;
}
.footer-sns img {
    vertical-align: middle;
}
.copyright {
    margin: 0;
}
.copyright small {
    font-size: 11px;
}

.top {
    height: 800px;
    margin-bottom: 50px;
    background: url("../img/top.jpg") center bottom / cover no-repeat;
}
.top-feature {
    text-align: center;
}
.top-feature .top-feature_box {
    padding: 0 30px 20px;
}
.top-feature h2 {
    font-size: 28px;
    margin-bottom: 0.5em;
}
.top-feature p {
    text-align: left;
}
.top-feature a {
    color: #000;
    padding-bottom: 0.2em;
    border-bottom: 2px solid #000;
    font-size: 18px;
    text-decoration: none;
}
@media screen and (min-width:768px) {
    .top-feature {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        background-color: #d4f7dd;
        margin-top: -50px;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .top-feature_box {
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    }
    .top-feature .top-feature_box {
        background-color: #fff;
        max-width: 600px;
        padding: 0 60px 30px 40px;
    }
    .top-feature img {
        margin-top: 40px;
        margin-left: -30px;
        max-width: 48vw;
    }
    .top-feature:nth-of-type(2) {
        flex-direction: row-reverse;
        padding-top: 50px;
    }
    .top-feature:nth-of-type(4) {
        flex-direction: row-reverse;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.section h2{
    text-align: center;
}
.info {
    text-align: center;
}
.info-list {
    display: inline-block;
    margin: 0 0 0 30px;
    list-style: none;
    text-align: left;
}

.map img{
    display: block;
    margin: 50px auto;
    width: 500px;
}

/* 予約フォーム */
.section-wrapper {
    width:400px;
    margin: 0 auto;
    text-align: center;
}
.section-select {
    background-color: rgba(206, 198, 198, 0.152);
}
.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
  }