@charset "utf-8";
/* 全体のスタイル */

* {
    box-sizing: border-box;
}

/* 初期スタイル調整 */

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 40px;
    font-family: 'Lexend Tera', sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 80px;
        letter-spacing: 0.5em;
        margin-top: 80px;
    }
}

h3 {
    line-height: 1.5;
    letter-spacing: 0.2em;
    text-align: left;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: justify;
}

ul {
    margin: 1em 0;
    padding-inline-start: 0px;
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

section {
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    section {
        max-width: 1200px;
    }
}

/* モバイルでは表示する */

.sp-only {
    display: block;
    background: rgba(0, 0, 0, 0.8);
}

/* モバイルでは非表示にする */

.pc-only {
    display: none;
}

@media screen and (min-width:768px) {
    /* PCでは非表示にする */
    .sp-only {
        display: none;
    }
    .pc-only {
        display: block;
    }
}

/* ヘッダー */

.header-area {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 50px;
    margin-bottom: 50px;
}
.header-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
@media screen and (min-width:768px) {
    .header-area {
        height: 100px;
        margin-bottom: 80px;
    }    
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.portfolio {
    margin-bottom: 50px;
}

.portfolio-contents {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: auto;
}

@media screen and (min-width:768px) {
    .portfolio-contents {
        max-width: 1200px;
    }
}

.portfolio-description {
    flex: 1;
    padding: 20px 20px 0;
    width: 400px;
    margin-bottom: 50px;
}

.portfolio-img {
    width: 400px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.portfolio-img img {
    width: 400px;
}

.portfolio-img .caption {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

@media screen and (min-width:768px) {
    .portfolio-img {
        /* width: 400px; */
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }
    .portfolio-img img {
        width: 400px;
    }
    .portfolio-img .mask {
        width: 400px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        /* マスクを表示しない */
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }
    .portfolio-img:hover .mask {
        opacity: 1;
        /* マスクを表示する */
    }
}

/* ボタン */

.btn-flat-border {
    display: inline-block;
    padding: 20px 35px;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(140, 184, 230);
    background: rgba(255, 255, 255, 0);
    border: solid 2px rgb(140, 184, 230);
    transition: .4s;
}

.btn-flat-border:hover, .btn-flat-border:focus {
    background: rgb(140, 184, 230);
    color: white;
    cursor: pointer;
}

/* フッター部分 */

.footer-area {
    position: relative;
    height: 650px;
    padding-top: 50px;
    background: url(../img/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer-area img {
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    /*画像周りの余白*/
    margin: 0 20px 7px 10px;
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.inner .profile-box_name {
    margin: 0 0 7px;
    padding: 0;
    font-size: 20px;
    font-weight: bolder;
}

.inner .profile-box_contents p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
}

@media screen and (min-width:768px) {
    .inner {
        width: 800px;
        padding: 20px;
    }
    .inner .profile-box_name {
        font-size: 20px;
    }
    .inner .profile-box_contents p {
        font-size: 16px;
    }
}